/* Generelle definitioner */
* { margin : 0px;
	border : 0px;
	padding : 0px;
	box-sizing : border-box;
    background-color: #004224;
	color: #f8f0e5;
    text-align: center;
	}
h2 {
    font-size: 100px;
}
h2 a {
    text-decoration: none;
}

@font-face {
    font-family: 'theseasons';
    src: url('fonts/theseasons.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@media only screen and (max-width: 600px) {
    nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top: 2px solid #f8f0e5;
    }
    h2 {
        font-size: 45px;
        text-decoration: none;
    }

    .nav-container {
        width: 100%;
        display: inline-flex;
        justify-content: space-around;
        background-color: #004224;
        align-items: center;
    }
    .button-bar {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 100vw;
        border: 2px solid #f8f0e5;

    }

    .button-bar a {
        text-align: center;
        padding: 10px 15px;
        background-color: #004224;
        color: #f8f0e5;
        text-decoration: none;
        font-size: 1.2em;
        transition: background-color 0.3s;
        border: none;

    }

    .button-bar a:hover {
        background-color: rgba(66, 58, 38, 0.9);
        border: #f8f0e5;
        font-weight: bolder;
    }
    .register-bar {
        input {
            color: black;
            width: 50%;
            border: 2px #423a26;
            background-color: #f8f0e5;
            color: #f8f0e5;
            padding: 10px 15px;
            margin: 10px;
        }
        #name, #email, #password {
            color: black;
        }
        input::placeholder {
            ::placeholder {
                color: #423a26;
                font-style: italic;
            }
        }
    }
    .logo-link {
        display: none;
    }
    .button-bar-index {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100vw;
        top: -10px; /* Justér værdien efter behov */
        text-decoration: none;
    }
    .button-bar-index a {
        flex-grow: 1;
        text-align: center;
        color: #f8f0e5;
        text-decoration: none;
        font-size: 1.5em;
        border-top: 2px solid #f8f0e5;
        border-bottom: 2px solid #f8f0e5;
        padding: 8px 15px; /* Justér for bedre spacing */
        background-color: transparent; /* Bevarer den eksisterende baggrund */
        display: inline-block;
    }
    .login-button {
        display: none;
    }
    .profilelink {
        position: absolute;
        left: 20px;
        top: 4px;
    }
    .profilpicture {
        width: 20vw;
        min-width: 80px;
        max-width: 150px;
        height: auto;
        border-radius: 50%;
        position: relative;
        padding: 0;
        margin: 0 auto;
        display: block;
        left: 20px;
    }
}
@media only screen and (min-width: 600px) {
    nav {
        display: none;
    }
    .logo-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 132px; /* Justér størrelsen efter behov */
        height: 132px;
        background-color: #004224;
        border-radius: 50%; /* Gør det rundt */
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
    .logo-link img {
        width: 85px;
        height: auto;
    }
    body {
        font-family: "theseasons", sans-serif;
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "nav";
        grid-template-columns: 1fr; /* 1fr betyder 1fraction altså en del */
        grid-template-rows: 2fr auto 1fr;
        gap: 10px;
        background-color: #004224;
        color: #f8f0e5;
        text-align: center;
        align-content: center;


    }
    .button-bar-index {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100vw;
        top: -80px; /* Justér værdien efter behov */
        text-decoration: none;
    }
    .button-bar-index a {
        flex-grow: 1;
        text-align: center;
        padding: 15px;
        background-color: #004224;
        color: #f8f0e5;
        text-decoration: none;
        font-size: 1.5em;
        border-top: 2px solid #f8f0e5;
        border-bottom: 2px solid #f8f0e5;
    }
    .button-bar-index a:hover {
            text-decoration: underline #f8f0e5;
        }

    .button-bar
    {
        display: flex;
        justify-content: space-between;
        width: 100vw;
    }

    .button-bar a {
        flex-grow: 1;
        text-align: center;
        padding: 1px;
        background-color: #004224;
        color: #f8f0e5;
        text-decoration: none;
        font-size: 1.5em;
    }
    .button-bar a:hover {
        background-color: rgba(66, 58, 38, 0.7);
        }

    .register-bar {
        input {
            color: black;
            width: 20%;
            border: 2px #423a26;
            background-color: #f8f0e5;
            padding: 10px 15px;
            margin: 10px;
        }

        #name, #email, #password {
            color: black;
        }
    }
    .login-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #004224;
        color: #f8f0e5;
        padding: 10px 20px;
    }
    .profilelink {
        position: absolute;
        left: 35px;
        top: 25px;

    }
    .profilpicture {
        width: 25vw;
        min-width: 150px;
        max-width: 200px;
        height: auto;
        border-radius: 50%;
        position: relative;
        padding: 0;
        margin: 0 auto;
        display: block;
        left: 5vw;
    }
}
button {
    padding: 10px;
    font-size: 1.2em;
    background-color: #f8f0e5;
    color: #004224;
    border: 2px solid #423a26;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    position: relative;
}
.userprofilebox {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    position: relative;
}

.sales {
    font-size: 80%;
}

.profilepic {
    left: 25px;
    width: 21vw;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
}
.profilpicture {
    position: absolute;
}
.rating {
    font-size: 80%;

}
.user-info {
    text-align: center;

    color: #f8f0e5;
    font-size: 1.2em;
}
.productname {
    font-family: "The Seasons", sans-serif;
    font-size: 105%;
    font-weight: bold;
}















