<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdminPage</title>
</head>
<body>
<h1>Welcome, Admin!</h1>

<div class="container">
    <a id="admin" href="/">
        <button type="button">Go to index page</button>
    </a>
    <a th:href="@{adminusers}">
        <button type="button">Users</button>
    </a>
    <a th:href="@{adminlistings}">
        <button type="button">Listings</button>
    </a>

    <div th:text="${user}"></div>
    <div class="alert alert-success" th:if="${success}">
        <strong>Success!</strong> <span th:text="${success}"></span>
    </div>

    <div th:if="${error}" class="alert alert-danger">
        <strong>Error!</strong> <span th:text="${error}"></span>
    </div>
    <br>
    <form th:action="@{adminpage}" th:object="${condition}" th:method="post">
    <label for="name">Add a new Condition:</label>
    <input type="text" id="name" th:field="*{itemcondition}">
        <form th:action="@{adminpage}" th:object="${location}" th:method="post">
            <label for="name">Add a new Location:</label>
            <input type="text" id="location" th:field="*{name}">
    <button type="submit">Submit</button>
    </form>
    </form>

</div>
</body>
</html>