<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdminPage</title>
</head>
<body>
<h1>Welcome, Admin!</h1>
</div>
<div class="container">
    <a id="admin" href="/">
        <button type="button">Go to index page</button>
    </a>
    <a th:href="@{adminusers}">
        <button type="button">Users</button>
    </a>
    <a th:href="@{adminreviews}">
        <button type="button">Listings</button>
    </a>

    <div th:text="${user}"></div>
    <div class="alert alert-success" th:if="${succes}">
        <strong>Success!</strong> <span th:text="${succes}"></span>
    </div>

    <div th:if="${fejl}" class="alert alert-danger">
        <strong>Error!</strong> <span th:text="${fejl}"></span>
    </div>
</div>
</body>
</html>