<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div class="container">
    <a id="adminPageBtn" th:href="@{adminpage}">
        <button type="button">Til adminside</button>
    </a>

    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="users : ${users}">

            <td th:text="${users.name}">Username</td>
            <td th:text="${users.email}">Email</td>
            <td>
                <a th:href="@{'edituseradmin/' + ${users.id}}">
                    <button id="controlUsersPageBtn">Edit user</button>
                </a>
            </td>
            <td th:if="${users.role} == 'admin'">
                <form th:action="@{adminpage/removeadminrights/{id}(id=${users.id})}" method="post">
                    <button id="controlUsersPageBtn">Revoke admin rights</button>
                </form>
            </td>
            <td th:if="${users.role} == 'user'">
                <button id="controlUsersPageBtn" th:onclick="'deleteUser(' + ${users.id} + ');'">Delete user</button>
            </td>
            <td th:if="${users.role} == 'user'">
                <form th:action="@{adminpage/giveadminrights/{id}(id=${users.id})}" method="post">
                    <button id="controlUsersPageBtn">Give admin rights</button>
                </form>
            </td>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <a th:if="${currentPage > 1}" th:href="@{/adminusers(page=${currentPage - 1})}">Previous</a>
        <text>Side </text>
        <a th:text="${currentPage}"></a>
        <a th:if="${currentPage < totalPages}" th:href="@{/adminusers(page=${currentPage + 1})}">Next</a>
    </div>
    <script>
        function deleteUser(id) {
            if (confirm('Are you sure you want to delete user?')) {
                fetch('/deleteUser/' + id, {
                    method: 'DELETE'
                }).then(response => {
                    console.log(response)
                    if (response.status === 200) {
                        alert('User deleted!');
                        window.location.replace("/adminusers");
                    } else {
                        alert('Can not delete user.');
                    }
                });
            }
        }
    </script>
    <div class="alert alert-success" th:if="${success}">
        <strong>Success!</strong> <span th:text="${success}"></span>
    </div>

    <div th:if="${error}" class="alert alert-danger">
        <strong>Error!</strong> <span th:text="${error}"></span>
    </div>
    </a>
    <br>

    <form id="adminquery" th:action="@{/searchForUser}" method="get">
        <input type="text" name="query" id="query" placeholder="Search for user"><br>
        <button type="submit">Søg</button>

    </form>
</div>
</body>
</html>