<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<div class="container">
  <h1>Edit profile</h1>
  <form th:action="@{/edituseradmin}" th:object="${user}" th:method="post">
    <input type="hidden" th:field="*{id}">
    <label for="name">Navn</label><br>
    <input id="name" type="text" th:field="*{name}"><br>
    <label for="email">Email</label><br>
    <input id="email" type="email" th:field="*{email}"><br>
    <label for="password">Kodeord</label><br>
    <input id="password" type="password" th:field="*{password}"><br>
    <button type="submit">Gem ændringer</button>
  </form>
  <div class="alert alert-success" th:if="${success}">
    <strong>Success!</strong> <span th:text="${success}"></span>
  </div>

  <div class="alert alert-danger" th:if="${fejl}">
    <strong>Fejl!</strong> <span th:text="${fejl}"></span>
  </div>
  <div class="BtnTilbage">
    <a href="/adminusers"><button type="submit">Tilbage</button></a>
  </div>
</div>
</body>
</html>