<!DOCTYPE html>

<html>

<head>
    <title>Gilbert</title>
    <link rel="stylesheet" type="text/css" href="/gilbertstyle.css">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png"  href="/icons/Profil32x32_3.png">
    <meta name="description" content="Køb og salg af brugt mærkevaretøj">
    <meta name="keywords" content="køb, salg, Gucci, Rolex">
    <meta name="author" content="ccco">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<header>
<h2> Gilbert</h2>
</header>

<div class="button-bar-index    ">
    <a href="women.html">Women</a>
    <a href="men.html">Men</a>
    <a href="designers.html">Designers</a>
    <a href="home.html">Home</a>
    <a href="beauty.html">Beauty</a>
</div>
<nav>
    <div class="nav-container">
        <a href="home">
            <img src="/icons/home2.png" class="icon" width="80px" >
        </a>
        <a href="search">
            <img src="/icons/sg.png" class="icon" width="70px" >
        </a>
        <a href="favorites">
            <img src="/icons/heart.png" class="icon" width="75px" >
        </a>
        <a href="/gilbertprofile">
            <img src="/icons/profil.png" class="icon" width="80px">
        </a>
        <a href="notifications">
            <img src="/icons/notification.png" class="icon" width="80px" alt="Notifications">
        </a>
    </div>
</nav>


<main>
    <p>Her kommer måske en annonce.</p>
    <div class="grid-container">
        <div class="item1">one</div>
        <div class="item2">two</div>
        <div class="item3">three</div>
        <div class="item4">four</div>
        <div class="item5">five</div>
        <div class="item6">six</div>
    </div>
</main>

<footer>
    <p>&copy; 2025 ccco</p>
</footer>

</body>

</html>