<!DOCTYPE html>

<html>

<head>
    <title>Gilbert</title>
    <link rel="stylesheet" type="text/css" href="/gilbertstyle.css">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png"  href="/icons/Profil32x32_3.png">
    <meta name="description" content="Køb og salg af brugt mærkevaretøj">
    <meta name="keywords" content="køb, salg, Gucci, Rolex, fashion, genbrug">
    <meta name="author" content="ccco">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header>
        <form class="search" action="/search" method="get">
        <input type="text" name="q" placeholder="Search for products..." required>
    </form>
    <div class="RegisterLogin-bar">
        <a class="notification" href="notifications">
            <img src="/icons/notification.png" class="icon" width="45px">
        </a>
        <a class="heart" href="favorites">
            <img src="/icons/heart.png" class="icon" width="45px">
        </a>
        <a href="register">Sign Up</a>
        <a href="login">Log in</a>
    </div>
    <h2><a href="/"> Gilbert</a></h2>

</header>

<body>

<div class="button-bar-index">
    <div class="dropdown">
        <a href="/women">Women</a>
        <div class="dropdown-content">
            <a href="/women/clothing">Clothing</a>
            <a href="/women/bags">Bags</a>
            <a href="/women/shoes">Shoes</a>
            <a href="/women/accessories">Accessories</a>
        </div>
    </div>

    <div class="dropdown">
        <a href="/men">Men</a>
        <div class="dropdown-content">
            <a href="/men/clothing">Clothing</a>
            <a href="/men/bags">Bags</a>
            <a href="/men/shoes">Shoes</a>
            <a href="/men/accessories">Accessories</a>
        </div>
    </div>

    <div class="dropdown">
        <a href="/home">Home</a>
        <div class="dropdown-content">
            <a href="/home/interoir">Interior and furniture</a>
            <a href="/home/decoration">Decoration</a>
            <a href="/home/kitchen">Kitchen</a>
        </div>
    </div>

    <div class="dropdown">
        <a href="/beauty">Beauty</a>
        <div class="dropdown-content">
            <a href="/beauty/makeup">Makeup</a>
            <a href="/home/fragrance">Fragrance</a>
        </div>
    </div>

    <div class="dropdown">
        <a href="/designers">Designers</a>
        <div class="dropdown-content">
            <a href="/designer1">Designer1</a>
            <a href="/designer2">Designer2</a>
            <a href="/designer3">Designer3</a>
        </div>
    </div>
</div>





<br>
<h3>Daily listings</h3>

<div class="productscontainer">
    <p>Womens</p>
    <div class ="productlisting" th:each="product : ${randomWomensProducts}">
        <img th:src="@{${product.imgsrc}}" width="200" height="200" alt="no pic">
        <p class ="productname" th:text="${product.name}"></p>
        <p th:text="${product.price}"></p>
    </div>
    <p>Mens</p>
    <div class ="productlisting" th:each="product : ${randomMensProducts}">
        <img th:src="@{${product.imgsrc}}" width="200" height="200" alt="no pic">
        <p class ="productname" th:text="${product.name}"></p>
        <p th:text="${product.price}"></p>
        <button>Add to favorites</button>
    </div>
    <p>Bags</p>
    <div class ="productlisting" th:each="product : ${randomBags}">
        <img th:src="@{${product.imgsrc}}" width="200" height="200" alt="no pic">
        <p class ="productname" th:text="${product.name}"></p>
        <p th:text="${product.price}"></p>
        <button>Add to favorites</button>
    </div>
</div>

<nav>
    <div class="nav-container">
        <a href="/">
            <img src="/icons/home2.png" class="icon" width="80px" >
        </a>
        <a href="search">
            <img src="/icons/sg.png" class="icon" width="70px" >
        </a>
        <a href="favorites">
            <img src="/icons/heart.png" class="icon" width="75px" >
        </a>
        <a href="gilbertprofile">
            <img src="/icons/profil.png" class="icon" width="80px">
        </a>
        <a href="notifications">
            <img src="/icons/notification.png" class="icon" width="80px" alt="Notifications">
        </a>
    </div>
</nav>



<footer>
    <p>&copy; 2025 ccco</p>
</footer>

</body>

</html>