<!DOCTYPE html>

<html>

<head>
    <title>Gilbert</title>
    <link rel="stylesheet" type="text/css" href="/gilbertstyle.css">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png"  href="/icons/Profil32x32_3.png">
    <meta name="description" content="Køb og salg af brugt mærkevaretøj">
    <meta name="keywords" content="køb, salg, Gucci, Rolex, fashion, genbrug">
    <meta name="author" content="ccco">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header>
    <form class="search" action="/search" method="get">
        <input type="text" name="q" placeholder="Search for products..." required>
    </form>
    <div class="RegisterLogin-bar">
        <a class="heart" href="favorites">
            <img src="/icons/heart.png" class="icon" width="45px">
        </a>
        <a href="register">Sign Up</a>
        <a href="login">Log in</a>

    </div>
    <h2><a href="/"> Gilbert</a></h2>

</header>

<body>
<div class="button-bar-index">
    <a href="women">Women</a>
    <a href="men">Men</a>
    <a href="designers">Designers</a>
    <a href="home">Home</a>
    <a href="beauty">Beauty</a>
</div>

<br>
<h3>Daily listings</h3>

<div class="productscontainer">
    <p>Womens</p>
    <div class ="productlisting" th:each="product : ${randomWomensProducts}">
        <img th:src="@{${product.imgsrc}}" width="200" height="200" alt="no pic">
        <p class ="productname" th:text="${product.name}"></p>
        <p th:text="${product.price}"></p>
    </div>
    <p>Mens</p>
    <div class ="productlisting" th:each="product : ${randomMensProducts}">
        <img th:src="@{${product.imgsrc}}" width="200" height="200" alt="no pic">
        <p class ="productname" th:text="${product.name}"></p>
        <p th:text="${product.price}"></p>
    </div>
    <p>Bags</p>
    <div class ="productlisting" th:each="product : ${randomBags}">
        <img th:src="@{${product.imgsrc}}" width="200" height="200" alt="no pic">
        <p class ="productname" th:text="${product.name}"></p>
        <p th:text="${product.price}"></p>
    </div>
</div>









<nav>
    <div class="nav-container">
        <a href="index">
            <img src="/icons/home2.png" class="icon" width="80px" >
        </a>
        <a href="search">
            <img src="/icons/sg.png" class="icon" width="70px" >
        </a>
        <a href="favorites">
            <img src="/icons/heart.png" class="icon" width="75px" >
        </a>
        <a href="gilbertprofile">
            <img src="/icons/profil.png" class="icon" width="80px">
        </a>
        <a href="notifications">
            <img src="/icons/notification.png" class="icon" width="80px" alt="Notifications">
        </a>
    </div>
</nav>



<footer>
    <p>&copy; 2025 ccco</p>
</footer>

</body>

</html>